div{
  display: flex;
  box-sizing: border-box;
}
body{
  display: flex;
  font-family: "TT Norms", sans-serif;
  background-image: url(../img/login_back.svg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-color: #F3F5F9;
  margin: 0;

  #form{
    border-radius: 15px;
    height: 417px;
    width: 373px;

    flex-direction: column;
    align-items: center;
    background-color: white;

    #form_back{
      background: url("../img/form_back.svg") no-repeat top;
      background-position-y: -5px;
      width: 100%;
      height: 50%;
      border-radius: 15px 15px 0 0;
    }

    h1{
      //margin-top: calc(50% + 60px);
      font-size: 21px;
      color: #2A356B;
    }

    a{
      margin-top: 22px;
      width: 79%;
      height: 73px;
      text-decoration: none;
    }

    button{
      border: none;
      width: 100%;
      background-color: #006EEF;
      border-radius: 8px;
      display: flex;
      padding: 17px 37px;
      justify-content: space-between;
      font-size: 18.5px;
      color: white;
      align-items: center;
      outline: none;
      cursor: pointer;
    }
    button:hover{
      background-color: #1178ef;
    }
  }
}