@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Thin.woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-ExtraLight.woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Light.woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Regular.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Medium.woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TT Norms';
  src: url("fonts/TTNorms-Bold.woff");
  font-weight: 600;
  font-style: normal; }

div {
  display: flex;
  box-sizing: border-box; }

body {
  font-family: "TT Norms", sans-serif;
  margin: 0;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #F3F5F9; }
  body .screen {
    overflow: hidden; }
  body span.number {
    color: rgba(42, 53, 107, 0.24);
    font-size: 30px;
    font-weight: 400; }
  body span.title {
    color: #2A356B;
    font-weight: 700;
    font-size: 33px; }
  body p.text {
    font-weight: 500;
    line-height: 31px;
    font-size: 14.2px;
    color: #9EAFC5; }
  body div.dash {
    width: 50px;
    height: 5px;
    background-color: #0269D6; }
  body a {
    color: #0765DD;
    text-decoration: none;
    font-weight: 500; }
  body .link_arrow {
    margin-left: 11px;
    width: 18px;
    margin-bottom: 1px; }
  body #screen1_back {
    height: 100vh;
    position: absolute;
    width: 100vw;
    background: url("img/screen1/back.svg") no-repeat right;
    background-size: contain; }
  body #header {
    z-index: 10;
    height: 78px;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 8.1vw 0 10.2vw; }
    body #header #logo {
      align-items: center; }
      body #header #logo img {
        height: 50px; }
      body #header #logo span {
        font-weight: 600;
        font-size: 18.2px;
        margin-left: 28px;
        margin-bottom: 7px;
        color: #2A356B; }
    body #header #header_right {
      height: 100%;
      align-items: center;
      padding-top: 18px;
      color: white;
      font-family: "TT Norms Medium", sans-serif;
      font-weight: bold; }
      body #header #header_right > nav {
        display: flex;
        box-sizing: border-box;
        font-size: 13px;
        margin-left: 52px;
        color: rgba(255, 255, 255, 0.5); }
      body #header #header_right > nav.selected {
        font-size: 14px;
        color: white; }
      body #header #header_right #db_link {
        display: flex;
        box-sizing: border-box;
        width: 172px;
        height: 52px;
        margin-top: 6px;
        align-items: center;
        margin-left: 67px;
        padding: 0 16px;
        background-color: #2A356B;
        border-radius: 11px;
        justify-content: space-between; }
        body #header #header_right #db_link #db_logo_outer {
          background-color: rgba(255, 255, 255, 0.1);
          padding: 8px;
          border-radius: 5px; }
          body #header #header_right #db_link #db_logo_outer img {
            height: 12px; }
        body #header #header_right #db_link span {
          font-size: 14px; }
  body #screen1_content {
    z-index: 10;
    margin-top: 19.3vh;
    margin-left: 10.3vw;
    width: 350px;
    flex-direction: column; }
    body #screen1_content p:first-of-type {
      font-size: 12.3px;
      font-weight: 700;
      margin: -1px 0 0 1px;
      color: #0765DD; }
    body #screen1_content h1 {
      font-size: 37px;
      margin-top: 17px;
      line-height: 47px;
      color: #2A356A; }
      body #screen1_content h1 span {
        height: 8px;
        width: 8px;
        background-color: #0269D6;
        border-radius: 50%;
        display: inline-block;
        margin: 10px 25px 10px 0; }
    body #screen1_content p.text {
      margin: 0; }
    body #screen1_content .info_button {
      background-color: #0269D6;
      border-radius: 12px;
      color: white;
      margin-top: 39px;
      width: 161px;
      height: 52px;
      align-items: center;
      padding: 0 25px 0 17px;
      justify-content: space-between;
      box-shadow: 0 12px 21px -9px rgba(7, 101, 221, 0.64);
      margin-bottom: 20px; }
      body #screen1_content .info_button .user_outer {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        height: 30px;
        width: 30px; }
        body #screen1_content .info_button .user_outer img {
          margin-top: 6px;
          margin-left: 3px; }
      body #screen1_content .info_button span {
        font-size: 13px;
        font-weight: 600; }
  body #screen2_left {
    background: url("img/screen2/back.svg") left no-repeat;
    background-size: contain;
    position: absolute;
    margin-top: -347px;
    width: 680px;
    height: 680px;
    margin-left: 0; }
  body #screen2_content {
    align-items: center;
    justify-self: flex-end;
    padding-bottom: 86px;
    width: 100vw;
    padding-left: 7px;
    justify-content: flex-end;
    margin-right: 104px;
    margin-bottom: 6px; }
    body #screen2_content span.title {
      margin-left: 35px; }
    body #screen2_content p.text {
      width: 392px;
      margin: 2px 0 6px 80px; }
  body #screen3_right {
    position: absolute;
    right: 0; }
    body #screen3_right #vector12 {
      position: absolute;
      height: 730px;
      right: 0;
      margin-top: -31px; }
    body #screen3_right #screen3_vector11 {
      position: absolute;
      right: 0;
      height: 665px;
      margin-top: -111px; }
    body #screen3_right #group17 {
      position: absolute;
      right: 10vh;
      height: 379px;
      margin-top: 63px; }
  body #screen3_content {
    justify-self: flex-start;
    width: 500px;
    margin: 111px 0 0 140px;
    flex-direction: column; }
    body #screen3_content span.number {
      height: max-content; }
    body #screen3_content span.title {
      margin-left: 18px;
      margin-top: -4px; }
    body #screen3_content p.text {
      margin-top: 30px;
      width: 450px; }
    body #screen3_content a {
      margin-top: 30px; }
  body #screen4_device {
    position: absolute;
    left: 0; }
    body #screen4_device img {
      position: absolute;
      left: 6vw;
      width: 36vw;
      margin-top: -34px;
      z-index: 9; }
  body #screen4_back_img {
    background: url("img/screen4/back.svg") no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh; }
  body #screen4_back {
    position: absolute;
    left: 0; }
    body #screen4_back #device_svg {
      position: absolute;
      left: 11.7vw;
      width: 24.3vw;
      margin-top: -3vw; }
    body #screen4_back #device_circle {
      background-color: #0269D6;
      border-radius: 50%;
      height: 30.7vw;
      width: 30.7vw;
      position: absolute;
      left: 8.8vw;
      margin-top: 76px; }
  body #screen4_content {
    width: 500px;
    align-self: flex-end;
    margin-right: 144px;
    margin-top: 78px;
    flex-direction: column; }
    body #screen4_content span.title {
      margin-left: 19px; }
    body #screen4_content p.text {
      margin-top: 27px; }
    body #screen4_content a {
      margin-top: 33px; }
  body #screen5_back {
    background: url("img/screen5/back.svg") no-repeat center;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh; }
  body #screen5_content {
    z-index: 10;
    margin: 6vw auto;
    width: 440px;
    flex-direction: column;
    align-items: center; }
    body #screen5_content span.number {
      margin-bottom: 18px;
      color: rgba(255, 255, 255, 0.25); }
    body #screen5_content span.title {
      color: white; }
    body #screen5_content p.text {
      color: white; }
  body #screen6_back {
    background: url("img/screen6/back.svg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute; }
  body #screen6_content {
    margin: 10.8vw auto;
    flex-direction: column;
    width: 81vw;
    margin-left: 10.3vw; }
    body #screen6_content .row > div {
      padding: 46px 0 0 46px;
      background-color: rgba(255, 255, 255, 0.33);
      flex-direction: column;
      height: 189px;
      margin: 19px 0 19px 0;
      border-radius: 14px; }
      body #screen6_content .row > div h2 {
        margin: 0 0 20px 0;
        color: #2A356B;
        font-size: 21px; }
      body #screen6_content .row > div p {
        color: rgba(42, 53, 107, 0.29);
        margin: 0;
        font-size: 15px;
        line-height: 29px; }
    body #screen6_content .row:first-child > div {
      background-color: white; }
    body #screen6_content .row > div:nth-child(2) {
      margin-left: 2.4vw; }
    body #screen6_content .center {
      margin: 110px auto;
      align-items: center; }
      body #screen6_content .center img {
        height: 60px; }
      body #screen6_content .center span {
        color: #2A356A;
        font-size: 21px;
        font-weight: 600;
        margin-left: 16px;
        margin-bottom: 10px; }
  body .screen .to_anim {
    position: relative;
    opacity: 0; }
  body .screen.anim .to_anim {
    animation: 1s ease-in-out forwards; }
  body .screen.anim .anim_right {
    animation-name: slide_right; }
  body .screen.anim .anim_left {
    animation-name: slide_left; }
  body .screen.anim .anim_top {
    animation-name: slide_top; }

@keyframes slide_right {
  0% {
    opacity: 0;
    left: -200px; }
  30% {
    opacity: 0; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes slide_left {
  0% {
    opacity: 0;
    right: -200px; }
  30% {
    opacity: 0; }
  100% {
    opacity: 1;
    right: 0; } }

@keyframes slide_top {
  0% {
    opacity: 0;
    bottom: -200px; }
  30% {
    opacity: 0; }
  100% {
    opacity: 1;
    bottom: 0; } }

@media (min-width: 1601px) {
  body span.title {
    font-size: 48px; }
  body p.text {
    font-size: 20px;
    line-height: 42px; }
  body span.number {
    font-size: 36px; }
  body #header {
    height: 116px; }
    body #header #logo img {
      height: 70px; }
    body #header #logo span {
      font-size: 26.2px;
      margin-left: 43px; }
    body #header #header_right #db_link {
      width: 244px;
      height: 73px;
      padding: 0 22px;
      margin-left: 95px; }
      body #header #header_right #db_link #db_logo_outer {
        padding: 11px; }
        body #header #header_right #db_link #db_logo_outer img {
          height: 17px; }
      body #header #header_right #db_link span {
        font-size: 19px;
        margin-right: 8px; }
    body #header #header_right > nav {
      font-size: 20px;
      margin-left: 72px; }
    body #header #header_right > nav.selected {
      font-size: 20px; }
  body #screen1_content {
    width: 460px; }
    body #screen1_content p:first-of-type {
      font-size: 17.4px; }
    body #screen1_content h1 {
      font-size: 52px;
      margin-top: 33px;
      line-height: 56px; }
      body #screen1_content h1 span {
        height: 11px;
        width: 11px;
        margin: 0 31px 13px 0; }
    body #screen1_content p.desc {
      font-size: 20px;
      line-height: 41px;
      font-weight: 500; }
    body #screen1_content .info_button {
      margin-top: 52px;
      width: 227px;
      height: 74px;
      padding: 0 33px 0 25px; }
      body #screen1_content .info_button span {
        font-size: 19px; }
  body #screen2_left {
    margin-top: -480px;
    width: 950px;
    height: 950px; }
  body #screen2_content {
    padding-bottom: 118px; }
    body #screen2_content p.text {
      width: 564px;
      margin: 2px 41px 8px 113px; }
    body #screen2_content span.title {
      margin-left: 53px; } }
