div{
  display: flex;
  box-sizing: border-box;
}
body{
  margin: 0;
  overflow-x: hidden;

  .screen{
    overflow: hidden;
  }
  #screen1_right{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: flex-end;
  }
  #logo2{
    position: absolute;
    border: 23px white solid;
    border-radius: 50%;
    height: 410px;
    top: 150px;
    right: 229px;
  }
  #vector11{
    position: absolute;
    height: 600px;
    right: -120px;
    width: 637px;
  }
}