div {
  display: flex;
  box-sizing: border-box; }

body {
  font-family: "TT Norms Medium", sans-serif;
  margin: 0;
  flex-direction: column;
  overflow-x: hidden; }
  body .screen {
    overflow: hidden; }
  body #screen1_right {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: flex-end; }
    body #screen1_right #logo2 {
      border-radius: 50%;
      position: absolute;
      border: 3vh white solid;
      height: 55vh;
      top: 19vh;
      right: 29vh;
      z-index: 2; }
    body #screen1_right #vector10 {
      z-index: 1;
      position: absolute;
      height: 79vh;
      right: 0; }
    body #screen1_right #vector11 {
      z-index: 1;
      position: absolute;
      height: 79vh;
      right: 0; }
  body #header {
    z-index: 10;
    height: 78px;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 126px 0 139px; }
    body #header #logo {
      align-items: center; }
      body #header #logo #logo_outer {
        width: 50px;
        height: 50px;
        left: 200px;
        top: 40px;
        background: linear-gradient(180.01deg, rgba(7, 101, 221, 0.348) -21.42%, rgba(255, 255, 255, 0.258) 108.72%);
        border-radius: 13px; }
        body #header #logo #logo_outer img {
          height: 46px;
          margin-top: 6px;
          margin-left: 2px; }
      body #header #logo span {
        font-weight: 700;
        font-size: 19px;
        margin-left: 28px;
        margin-bottom: 3px;
        color: #2A356B; }
    body #header #header_right {
      height: 100%;
      align-items: center;
      padding-top: 18px;
      color: white;
      font-family: "TT Norms Medium", sans-serif;
      font-weight: bold; }
      body #header #header_right > span {
        font-size: 15px;
        margin-left: 46px; }
      body #header #header_right #db_link {
        width: 172px;
        height: 52px;
        margin-top: 6px;
        align-items: center;
        margin-left: 67px;
        padding: 0 16px;
        background-color: #2A356B;
        border-radius: 11px;
        justify-content: space-between; }
        body #header #header_right #db_link #db_logo_outer {
          background-color: rgba(255, 255, 255, 0.1);
          padding: 8px;
          border-radius: 5px; }
          body #header #header_right #db_link #db_logo_outer img {
            height: 12px; }
        body #header #header_right #db_link span {
          font-size: 14px; }
  body #screen1_content {
    z-index: 10;
    margin-top: 20vh;
    margin-left: 141px;
    width: 345px;
    flex-direction: column; }
    body #screen1_content p {
      font-family: "TT Norms Medium", sans-serif;
      color: #0765DD;
      font-size: 13px;
      font-weight: 600;
      margin: -1px 0 0 1px; }
    body #screen1_content h1 {
      font-size: 37px;
      margin-top: 17px;
      line-height: 47px; }
      body #screen1_content h1 span {
        height: 8px;
        width: 8px;
        background-color: #0269D6;
        border-radius: 50%;
        display: inline-block;
        margin: 10px 25px 10px 0; }
    body #screen1_content p.desc {
      font-size: 13.3px;
      line-height: 26px;
      color: #9EAFC5; }
    body #screen1_content .info_button {
      background-color: #0269D6;
      border-radius: 12px;
      color: white;
      margin-top: 39px;
      width: 161px;
      height: 52px;
      align-items: center;
      padding: 0 25px 0 17px;
      justify-content: space-between;
      box-shadow: 0 12px 21px -9px rgba(7, 101, 221, 0.64);
      margin-bottom: 20px; }
      body #screen1_content .info_button .user_outer {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        height: 30px;
        width: 30px; }
        body #screen1_content .info_button .user_outer img {
          margin-top: 6px;
          margin-left: 3px; }
      body #screen1_content .info_button span {
        font-size: 13px;
        font-weight: 600; }
  body #screen2_left {
    height: 100%; }
    body #screen2_left img {
      height: 800px;
      z-index: 8;
      margin-top: -360px; }
    body #screen2_left span {
      z-index: 9;
      height: max-content;
      font-weight: 700;
      color: #2A356B;
      font-size: 103px;
      position: absolute;
      white-space: nowrap;
      margin: 76px 0 0 -265px; }
  body #screen2_content {
    align-items: center;
    justify-self: flex-end;
    padding-bottom: 86px;
    width: 61vw;
    padding-left: 7px; }
    body #screen2_content span:first-child {
      font-family: "TT Norms Light", sans-serif;
      color: rgba(42, 53, 107, 0.24);
      font-size: 30px;
      font-weight: 100; }
    body #screen2_content span.title {
      color: #2A356B;
      font-weight: 700;
      margin-left: 35px;
      font-size: 33px; }
    body #screen2_content p {
      font-size: 13px;
      width: 399px;
      font-weight: 600;
      line-height: 31px;
      color: #9EAFC5;
      margin: 0 0 6px 81px; }
  body #screen3_right {
    position: absolute;
    right: 0; }
    body #screen3_right #vector12 {
      position: absolute;
      height: 730px;
      right: 0;
      margin-top: -31px; }
    body #screen3_right #screen3_vector11 {
      position: absolute;
      right: 0;
      height: 665px;
      margin-top: -111px; }
    body #screen3_right #group17 {
      position: absolute;
      right: 10vh;
      height: 379px;
      margin-top: 63px; }

@font-face {
  font-family: 'TT Norms Light';
  src: url("TTNorms-Light.eot");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Norms Medium';
  src: url("TTNorms-Medium.eot");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Norms';
  src: url("TTNorms-Regular.eot");
  font-weight: normal;
  font-style: normal; }
