@media (max-width: 1200px) {
  body{
    margin: 0;
    overflow-y: auto;
    height: auto;

    #side{
      display: none;
      position: fixed;
      left: 0;
      width: 80vw;
      height: 100vh;
      background-color: rgba(255,255,255,0.9);

      #logo{
        margin: 30px auto;
        height: auto;
      }
    }

    main {
      width: 90vw;
      margin: 30px 0;

      #main_content {

        #first_row {
          flex-direction: column;

          #account {
            .info {
              width: auto;
            }
          }

          #key_panel {
            #key_field {
              width: 100%;
            }
          }

          .panel {
            height: auto;

            .title {
              height: 60px;
            }

            .panel_content {
              padding: 20px;
              justify-content: center;
            }
          }
        }

        .panel {
          height: auto;
          width: 100%;
        }
      }
    }

    #info_panel{
      flex-direction: column;

      >div:not(:last-child){
        margin-right: 0;
        margin-bottom: 31px;
      }
    }
  }
}
@media (max-width: 600px) {
  body{
    height: auto;

    #key_panel{
      #key_field{
        input{
          width: 80%;
        }
      }
    }

    main {

      #main_content {
        #first_row {
          .panel {
            .panel_content {
              padding: 10px;
            }
          }
        }

        #buttons_row {
          flex-direction: column;

          .button {
            width: 80%;
            align-self: center;
          }

          .button:not(:last-child) {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 424px) {
  body{
    .button{
      height: 55px;
      font-size: 16px;
    }

    #account{
      .info{
        justify-content: space-between;
        img{
          height: 60px;
          width: 60px;
          margin: 0 15px 0 0;
        }
        >div{
          #login{
            font-size: 16px;
          }
          #email{
            font-size: 13px;
          }
        }
      }
    }
    #key_panel{
      #key_field{
        padding: 9px 5px 9px 0;
        height: 49px;

        input{
          font-size: 12px;
        }
      }
    }
    #info_panel{
      padding: 15px;
    }

    #side{
      #logo{
        img{
          height: 55px;
        }
        span{
          font-size: 24px;
          margin-bottom: 11px;
        }
      }
    }
    main{
      #main_content {
        .panel {

          .title {
            margin: 14px 0;
          }
        }
      }
    }
  }
}