div{
  display: flex;
  box-sizing: border-box;
}

body{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  margin: 0;

  font-family: "TT Norms", sans-serif;
  background-color: #F3F5F9;

  #side{
    width: 382px;
    background-color: white;
    padding: 60px;
    flex-direction: column;
    #logo{
      height: max-content;

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;

        span {
          margin-left: 21px;
          font-size: 24px;
          margin-bottom: 16px;
          color: #2A356B;
          font-weight: bolder;
        }
      }
    }

    #side_buttons{
      flex-direction: column;
      margin-top: 90px;

      nav{
        margin-bottom: 36px;

        .button{
          img{

          }
          span{

          }
        }
      }
      nav:not(:first-child){
        .button {
          background: linear-gradient(180deg, #E9F1FF -51.35%, rgba(199, 220, 255, 0.24) 100%);
          color: #006EEF;
          border: none;
        }
      }
      nav:first-child{
        .button:hover{
          background-color: #006EEF;
          color: white;
        }
      }
    }
  }

  main {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    background-image: url("../img/db_back.svg");
    background-repeat: no-repeat;
    background-size: cover;

    #main_content {
      width: 938px;
      flex-direction: column;
      margin: auto 0;
      justify-content: center;

      .panel {
        background: rgba(255, 255, 255, 0.63);
        border-radius: 20px;
        height: 192px;
        //padding: 0 42px 42px;
        margin-bottom: 40px;
        flex-grow: 1;

        .title {
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100px;
          background: linear-gradient(360deg, rgba(221, 236, 255, 0.17) -5%, rgba(221, 236, 255, 0.0204) 115%);

          span {
            font-size: 17px;
            color: #2A356A;
            margin-left: 20px;
            font-weight: 600;
          }
        }

        .panel_content {
          width: 100%;
          padding: 0 42px 42px;
        }
      }

      #first_row {
        .panel {
          align-items: center;
          height: 250px;
          flex-direction: column;
          justify-content: space-between;
        }

        .panel:first-child {
          flex-grow: 0;
          margin-right: 20px;
          flex-basis: 42%;
        }
      }
    }
  }

  #account{
    .info{
      width: 100%;

      img{
        height: 74px;
        width: 74px;
        border-radius: 50%;
        margin-right: 28px;
      }
      >div{
        flex-direction: column;
        padding: 10px 0;
        justify-content: space-between;

        #login{
          color: #2A356A;
          font-size: 20px;
          font-weight: bold;
        }
        #email{
          font-size: 16px;
          font-weight: 500;
          color: rgba(42, 53, 107, .29);
        }
      }
    }
  }

  #key_panel{
    #key_field{
      width: 100%;
      height: 70px;

      background: linear-gradient(0deg, rgba(213, 227, 242, 0.29) -345.83%, rgba(213, 227, 242, 0) 282.5%);
      border: 1px solid #DCE7F3;
      border-radius: 12px;
      padding: 14px 10px 14px 14px;

      input{
        flex-grow: 1;
        border: none;
        outline: none;
        background-color: inherit;
        align-items: center;
        font-size: 16.5px;
        color: #2A356A;
        padding-left: 16px;
        font-weight: 700;
      }

      button{
        padding: 0;
        cursor: pointer;
        border: none;
        background: none;
        margin: 0 6px;
        height: 100%;
        img{
          height: 100%;
        }
      }
      button:focus{
        outline: 1px lightgray solid;
      }
    }
  }

  #info_panel{
    padding: 45px;

    >div{
      height: 100px;
      background-color: white;
      border-radius: 7px;
      padding: 24px 0 24px 22px;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      border-bottom: 4px solid;

      h2{
        margin: 0;
        font-size: 18px;
        color: #2A356B;
      }

      span{
        font-weight: 500;
        font-size: 16px;
        color: rgba(42, 53, 107, .29);
      }
    }
    >div:first-child{
      border-color: #0E77E6;
    }
    >div:nth-child(2){
      border-color: #2A356B;
    }
    >div:nth-child(3){
      border-color: #FF5C5C;
    }
    >div:not(:last-child){
      margin-right: 31px;
    }

  }

  .button{
    width: 100%;
    height: 74px;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    transition-duration: .3s;
    transition-property: color, background-color, border;
    background: #006EEF;
    border-radius: 11px;
    color: white;
    font-size: 18px;
    font-weight: 500;

    span{
      font-family: "TT Norms", sans-serif;
      align-self: center;
      font-size: 18px;
      font-weight: 500;
      margin-left: 20px;
    }
    .button_img_hover{
      display: none;
    }
  }
  .button:hover{
    background: linear-gradient(0deg, rgba(2, 105, 214, 0.12) -51.35%, rgba(16, 121, 255, 0.1) 118.92%);
    border: 1px solid rgba(1, 114, 247, 0.68);
    color: #006EEF;
    .button_img_hover{
      display: block;
    }
    .button_img{
      display: none;
    }
  }

  #buttons_row{
    .button:not(:last-child){
      margin-right: 26px;
    }
    .button:nth-child(2){
      background-color: #2A356B;
    }
    .button:nth-child(2):hover{
      background: linear-gradient(0deg, rgba(213, 227, 242, 0.72) -345.83%, rgba(213, 227, 242, 0.37) 282.5%);
      border: 1px solid #A4C1E0;
      color: #4F567A;
    }
    .button:nth-child(3){
      background-color: #FF5C5C;
    }
    .button:nth-child(3):hover{
      background: rgba(252, 128, 128, 0.35);
      border: 1px solid #FF4754;
      color: #FF404D;
    }
  }
}
@media (max-width: 1400px) {
  body{
    .button{
      height: 62px;
    }

    #side{
      width: 322px;
      padding: 40px;

      #logo{
        a{
          img{
            height: 50px;
          }
          span{
            font-size: 21px;
            margin-bottom: 10px;
          }
        }
      }

      #side_buttons{
        margin-top: 60px;
      }
    }


    main {

      #main_content {

        #first_row {
          .panel {
            height: 220px;
          }
        }

        #key_panel {
          #key_field {
            height: 59px;
            padding: 10px 8px 10px 14px;
          }
        }

        #info_panel {
          padding: 30px;
          height: auto;

          > div {
            height: 89px;
            padding: 17px 0 18px 22px;
          }
        }

        .panel {
          margin-bottom: 20px;

          .title {
            height: 70px;
          }

          .panel_content {
            padding: 0 30px 30px;
          }
        }
      }
    }
  }
}