div{
  display: flex;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: "TT Norms", sans-serif;
  background-image: url(../img/auth_back.svg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-repeat: no-repeat;
  align-items: center;
  background-color: #F3F5F9;
  flex-direction: column;
  margin: 0;

  #logo{
    margin-top: 105px;
    align-items: center;
    justify-content: space-between;

    span{
      margin-left: 29px;
      font-size: 28px;
      color: #2A356B;
      font-weight: bolder;
    }
  }

  #form{
    margin: auto;
    width: 665px;
    flex-direction: column;

    #field{
      height: 250px;
      flex-direction: column;
      margin-bottom: 24px;
      background: rgba(255, 255, 255, 0.63);
      border-radius: 20px;
      align-items: center;
      padding: 38px 35px;
      justify-content: space-between;

      #title{
        align-items: center;
        img{
          margin-right: 24px;
        }
        span{
          font-size: 19px;
          color: #2A356A;
          font-weight: 500;
        }
      }

      input{
        width: 100%;
        height: 70px;

        outline: none;
        background: linear-gradient(0deg, rgba(213, 227, 242, 0.29) -345.83%, rgba(213, 227, 242, 0) 282.5%);
        border: 1px solid #DCE7F3;
        box-sizing: border-box;
        border-radius: 12px;
        padding-left: 18px;
        font-size: 17px;
      }
    }

    a{
      height: 83px;
      width: 100%;
      text-decoration: none;
    }

    button{
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 19px;

      background: #006EEF;
      box-shadow: 0 14px 26px -12px rgba(7, 101, 221, 0.34);
      border-radius: 11px;
      outline: none;
      border: none;
      cursor: pointer;

      img{
        margin-right: 20px;
      }
    }
    button:hover{
      background-color: #1178ef;
    }
  }

  #agree{
    margin-bottom: 57px;
    cursor: pointer;
    font-size: 16px;
  }
}