@media (min-width: 1601px) {
  body div.dash {
    width: 70px;
    height: 7px;
    border-radius: 3.5px; }
  body span.title {
    font-size: 38px; }
  body p.text {
    font-size: 15.9px;
    line-height: 32px; }
  body span.number {
    font-size: 40px; }
  body a {
    font-size: 18px; }
  body .link_arrow {
    margin-left: 15px;
    width: 23px;
    margin-bottom: 3px; }
  body #header {
    height: 116px;
    padding: 0 13.5vw; }
    body #header #logo img {
      height: 70px; }
    body #header #logo span {
      font-size: 26.2px;
      margin-left: 43px; }
    body #header #header_right #db_link {
      width: 232px;
      height: 73px;
      padding: 0 24px;
      margin-left: 95px; }
      body #header #header_right #db_link #db_logo_outer {
        padding: 11px; }
        body #header #header_right #db_link #db_logo_outer img {
          height: 17px; }
      body #header #header_right #db_link span {
        font-size: 21px;
        margin-right: 8px; }
    body #header #header_right > nav {
      font-size: 19px;
      margin-left: 72px; }
    body #header #header_right > nav.selected {
      font-size: 20px; }
  body #screen1 {
    height: 90vh; }
  body #screen1_back {
    background-image: url("../img/screen1/back_wide.svg");
    height: 90vh; }
  body #screen1_content {
    width: 460px;
    margin-top: 13.3vh;
    margin-left: 13.5vw; }
    body #screen1_content p:first-of-type {
      font-size: 16.4px; }
    body #screen1_content h1 {
      font-size: 49px;
      margin-top: 33px;
      line-height: 56px; }
      body #screen1_content h1 span {
        height: 11px;
        width: 11px;
        margin: 0 31px 13px 0; }
    body #screen1_content p.desc {
      font-size: 20px;
      line-height: 41px;
      font-weight: 500; }
    body #screen1_content .info_button {
      margin-top: 52px;
      width: 213px;
      height: 74px;
      padding: 0 33px 0 20px; }
      body #screen1_content .info_button span {
        font-size: 22px;
        margin-bottom: 6px; }
  body #screen2 {
    height: 25vh; }
  body #screen2_left {
    background-image: url("../img/screen2/back_wide.svg");
    margin-top: -635.4px;
    width: 700px;
    height: 1109px; }
  body #screen2_content {
    padding-bottom: 118px;
    margin-right: 13.5vw;
    margin-top: 0;
    height: 26vh; }
    body #screen2_content p.text {
      width: 420px;
      margin: 2px 0 8px 80px; }
    body #screen2_content span.title {
      margin-left: 53px; }
  body #screen3_right {
    margin-top: -160px; }
  body #screen3_content {
    width: 630px;
    margin: 158px 0 0 13.5vw; }
    body #screen3_content #screen3_title {
      margin-top: 45px; }
    body #screen3_content span.title {
      margin-left: 27px; }
    body #screen3_content p.text {
      margin-top: 28px;
      width: 500px; }
    body #screen3_content a {
      margin-top: 42px; }
  body #screen4 {
    height: 54vh;
    background-image: url("../img/screen4/back_wide.svg");
    background-position: top;
    background-size: cover; }
  body #screen4_device img {
    left: 15vw;
    width: 29vw;
    top: -14vh; }
  body #screen4_content {
    width: 635px;
    margin-right: 15vw;
    margin-top: 122px; }
    body #screen4_content #screen4_title {
      margin-top: 41px; }
    body #screen4_content p.text {
      margin-top: 39px; }
    body #screen4_content a {
      margin-top: 48px; }
  body #screen5 {
    height: 82vh;
    background-image: url("../img/screen5/back_wide.svg"); }
  body #screen5_content {
    width: 500px;
    margin: 85px auto 0;
    text-align: center; }
    body #screen5_content span.number {
      margin-bottom: 20px; }
  body #screen6 {
    height: 70vh; }
  body #screen6_content {
    margin: 50px 13.5vw;
    height: 65vh; }
    body #screen6_content .row > div {
      height: 215px;
      padding: 40px 20px 0 41px;
      transition: 1s; }
      body #screen6_content .row > div h2 {
        font-size: 25px; }
      body #screen6_content .row > div p {
        font-size: 17px;
        line-height: 41px; }
    body #screen6_content .row > div:hover {
      background-color: #0E77E6; }
      body #screen6_content .row > div:hover h2 {
        color: white; }
      body #screen6_content .row > div:hover p {
        color: white; }
    body #screen6_content .row:nth-child(2) {
      margin-top: 20px; }
    body #screen6_content .center {
      margin: 116px auto 0; }
      body #screen6_content .center img {
        height: 50px; }
      body #screen6_content .center span {
        font-size: 24px;
        margin-left: 34px;
        margin-bottom: 13px; } }
