@media (min-width: 1950px) {
  body{
    #screen4_back_img{
      background-size: cover;
    }

    #screen5{
      height: 130vh;
    }

    #screen5_back{
      background-size: cover;
      height: 150vh;
    }

    #screen6{
      //height: 130vh;
    }
  }
}