@media (min-width: 1601px) {
  body {
    div.dash {
      width: 60px;
      height: 6px;
      border-radius: 3px;
    }

    span.title {
      font-size: 38px;
    }

    p.text {
      font-size: 16.2px;
      line-height: 32px;
    }

    span.number {
      font-size: 36px;
    }

    a {
      font-size: 18px;
    }

    .link_arrow {
      margin-left: 15px;
      width: 23px;
      margin-bottom: 3px;
    }

    .screen {
    }

    #header {
      height: 87px;
      padding: 0 13.5vw;

      #logo {
        img {
          height: 53px;
        }

        span {
          font-size: 21.2px;
          margin-left: 38px;
        }
      }

      #header_right {
        #db_link {
          width: 190px;
          height: 60px;
          padding: 0 24px;
          margin-left: 83px;

          #db_logo_outer {
            padding: 6px;

            img {
              height: 17px;
            }
          }

          span {
            font-size: 18px;
          }
        }

        > nav {
          font-size: 17px;
          margin-left: 54px;
        }

        > nav.selected {
          font-size: 18px;
        }
      }
    }

    #screen1{
      height: 100vh;
    }

    #screen1_back{
      background-image: url(../img/screen1/back_wide.svg);
      height: 110vh;
      right: -238px;
    }

    #screen1_content_anim{
      width: fit-content;
      height: fit-content;
      margin: auto 0;
    }

    #screen1_content {
      width: 460px;
      margin-top: 0;
      margin-left: 13.5vw;

      p:first-of-type {
        font-size: 14px;
      }

      h1 {
        font-size: 41px;
        margin-top: 20px;
        line-height: 54px;

        span {
          height: 11px;
          width: 11px;
          margin: 0 31px 13px 0;
        }
      }

      p.desc {
        font-size: 20px;
        line-height: 41px;
        font-weight: 500;
      }

      .info_button {
        margin-top: 28px;
        width: 173px;
        height: 58px;
        padding: 0 26px 0 14px;

        img{
          height: 37px;
        }

        span {
          font-size: 18px;
        }
      }
    }

    #screen2{
      height: 40vh;
    }

    #screen2_left {
      background-image: url(../img/screen2/back_wide.svg);
      margin-top: -520.4px;
      width: 700px;
      height: 1059px;
    }

    #screen2_content {
      padding-bottom: 118px;
      margin-right: 13.5vw;
      margin-top: 68px;
      height: 26vh;

      #screen2_title{
        >div:nth-child(2){
          margin-top: 20px;
        }
      }

      p.text {
        width: 420px;
        margin: 2px 0 8px 98px;

      }
      span.number{
        font-size: 34px;
      }
      span.title {
        margin-left: 41px;
      }
    }

    #screen3{
      height: 90vh;
    }

    #screen3_right{
      height: 118vh;
      margin-top: -137px; //-17vh
    }

    #screen3_content {
      width: 630px;
      margin: 158px 0 0 13.5vw;

      #screen3_title {
        margin-top: 39px;
      }

      span.title {
        margin-left: 27px;
      }

      p.text {
        margin-top: 28px;
        width: 500px;
      }

      a {
        margin-top: 0;
      }
    }

    #screen4{
      height: 74vh;
      background-image: url("../img/screen4/back_wide.svg");
      background-position: top;
      background-size: cover;
    }

    #screen4_device{
      img{
        left: 15vw;
        width: 29vw;
        top: -14vh;
      }
    }

    #screen4_content {
      width: 520px;
      margin-right: 13.4vw;
      margin-top: 46px;

      #screen4_title {
        margin-top: 35px;
      }

      span.title{
        margin-left: 16px;
      }

      p.text {
        margin-top: 39px;
      }

      a {
        margin-top: 48px;
      }
    }

    #screen5{
      height: 97vh;
      background-image: url("../img/screen5/back_wide.svg");
    }

    #screen5_content {
      width: 500px;
      margin: 85px auto 0;
      text-align: center;

      span.number {
        margin-bottom: 20px;
      }
    }

    #screen6{
      height: 85vh;
    }

    #screen6_back_left{
      height: 34vw;
    }
    #screen6_back_right{
      height: 50vw;
    }

    #screen6_content {
      margin: 50px 13.5vw;
      height: 78vh;
      .row {
        > div {
          height: 215px;
          padding: 40px 20px 0 41px;
          transition: 1s;

          h2 {
            font-size: 25px;
          }

          p {
            font-size: 17px;
            line-height: 33px;
          }
        }
        >div:hover{
          background-color: #0E77E6;
          h2{
            color: white;
          }
          p{
            color: white;
          }
        }
      }

      .row:nth-child(2) {
        margin-top: 20px;
      }

      .center {
        margin: 116px auto 0;

        img {
          height: 50px;
        }

        span {
          font-size: 24px;
          margin-left: 34px;
          margin-bottom: 13px;
        }
      }
    }
  }
}
